.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

header,
section,
footer {
  width: 100%;
  float: left;
}

section {
  display: flex;
  justify-content: center;
}

.in_header,
.container {
  max-width: 1050px;
  width: 100%;
}
.container {
  padding: 250px 0;
}
